body {
    font-size: 1.5em;
}

.navbar {
    background-color: #05c7f2;
}

.containe-boaVinda {
    padding: 15px 0px;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

footer {
    background-color: #05c7f2;
    margin: 0 !important;
    padding: 10px;
}

form {
    padding: 20px;
    border: solid #595959 2px;
    border-radius: 30px;
    margin: 20px 0px;
}

#contato span {
    font-size: 16px;
}