<article id="principal">
    <div class="containe-boaVinda">
        <h3>BEM-VINDO!</h3>
        <p>
            A LLP Game é um jogo online de mundo aberto que busca à diversão e integração dos jogadores. 
            Com missões, explorações e batalhas, uma coisa que você nunca terá é tédio! 
            Se você nunca jogou venha fazer parte deste universo!
        </p>
    </div>
    <div class="container-historia">
        <h3>HISTÓRIA</h3>
        <p>
            Aqui será contado à história do jogo, quando foi criado seu objetivo de criação 
            e o enredo de todo o jogo.
        </p>
    </div>
    <div>
        <h3>TIME LLP</h3>
        <ul>
            <li>
                Nome: Patrick Barbosa
                Função: Desenvolvedor
                Apresentação: ae meu jovem!
            </li>
            <li>
                Nome: Deli
                Função: Criação de conteúdo e gerente do projeto
                Apresentação: Sejam todos bem vindo!
            </li>
            <li>
                Nome: Edilson
                Função: gerente do projeto e criação de audio
                Apresentação: Fala rapazeada nova!
            </li>
        </ul>
    </div>
</article>